div.needEndHide#nav-music
  #nav-music-hoverTips(onclick='liuMusic.musicToggle()')= __('music.hit')
  meting-js(id=theme.capsule.id server=theme.capsule.server type=theme.capsule.type mutex="true" preload="none" data-lrctype="0" order="random" volume=theme.capsule.volume api=theme.capsule.meting_api)
